.wrapper {
  display: flex;
  gap: var(--tiny);
  align-items: center;
}

.switch,
.switchRight {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  padding: 6px;
  border-radius: var(--full-radius);
  background-color: var(--terciary-color);

  transition: 0.5s cubic-bezier(0.7, -0.24, 0.32, 1.17) left;
}

.switchRight {
  left: 50%;
}

.switchButton {
  display: flex;
  width: 70px;
  height: 40px;
  border-radius: var(--full-radius);
  background-color: var(--secondary-color);
  position: relative;
}

.textInactive,
.textActive {
  font-family: "OpenSans";
  display: flex;
  align-items: center;
  font-size: var(--ftiny);

  transition: 0.9s ease;
}

.textInactive {
  color: var(--steel);
}

.textActive {
  color: white;
}
