.wrapper {
  display: flex;
  gap: var(--tiny);
  align-items: center;
}

.switch {
  display: flex;
  padding: 6px;
  border-radius: var(--full-radius);
  background-color: #3c3c3c;
}

.switchButtonRight,
.switchButtonLeft {
  display: flex;
  width: 70px;
  padding: 6px;
  border-radius: var(--full-radius);
  background: #282828;
  position: relative;

  transition: var(--basic-transition);
}

.switchButtonLeft {
  justify-content: flex-start;
}

.switchButtonRight {
  justify-content: flex-end;
}

.textInactive,
.textActive {
  font-family: "OpenSans";
  display: flex;
  align-items: center;
  font-size: var(--ftiny);
  padding-block: var(--fmicro);
}

.textInactive {
  color: var(--steel);
}

.textActive {
  color: white;
}
