.radioButton {
  display: block;
  position: relative;
  height: fit-content;
  padding-left: 40px;
  padding-block: 10px;
  cursor: pointer;
  user-select: none;

  font-family: "OpenSans";
  font-size: var(--ftiny);
  font-weight: normal;
  color: white;
  border-radius: var(--small-radius);
  border: solid 1px transparent;

  transition: var(--basic-transition);
}

.radioButton:has(input:checked) {
  border: solid 1px var(--primary-color);
}

/* Hide the browser's default checkbox */
.radioButton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkMark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  height: 20px;
  width: 20px;
  background-color: whitesmoke;
  border-radius: var(--full-radius);
}

/* On mouse-over, add a grey background color */
.radioButton:hover input ~ .checkMark {
  background-color: var(--grey);
}

.radioButton input:checked ~ .checkMark {
  background-color: var(--primary-color);
}

.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}
.radioButton input:checked ~ .checkMark:after {
  display: block;
}

.checkMark:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: var(--secondary-color);
  border-radius: var(--full-radius);
}
