:root {
  /* Font Sizes */
  --fhuge: 16.6138rem;
  --fxl: 10.2685rem;
  --flg: 6.3462rem;
  --fmd: 3.9223rem;
  --fsm: 2.4246rem;
  --fxs: 1.4988rem;
  --ftiny: 0.9268rem;
  --fmicro: 0.8rem;

  /* Spacing */
  --massive: clamp(246.4px, 20.052vw, 554.56px);
  --huge: clamp(153.6px, 12.5vw, 276.48px);
  --xl: clamp(120px, 7.8125vw, 216px);
  --lg: clamp(60.16px, 4.8958vw, 135.36px);
  --md: clamp(37.76px, 3.0729vw, 85.12px);
  --sm: clamp(23.68px, 1.9271vw, 42.56px);
  --xs: clamp(14.72px, 1.1979vw, 27.68px);
  --tiny: clamp(8.96px, 0.7292vw, 16.96px);
  --micro: clamp(5.76px, 0.4688vw, 10.72px);

  /* Border Radius */
  --card-radius: 20px;
  --small-radius: 16px;
  --full-radius: 999px;

  /* Colors */
  --grey: #c4c5cd;
  --steel: #9e9e9e;

  --primary-color: #a2fe9d;
  --primary-color-muted: #c8fec5;
  --primary-color-hover: #8ffe89;
  --primary-color-click: #7cfe75;

  --secondary-color: #282828;
  --secondary-color-muted: #3c3c3c;
  --secondary-color-hover: #1e1e1e;
  --secondary-color-click: #141414;

  --terciary-color: #3c3c3c;

  --background-color: #171717;

  /* Effects */
  --basic-drop-shadow: 0 4px 20px hsla(0, 0%, 0%, 0.3);
  --basic-inset-shadow: inset 0 4px 20px hsla(0, 0%, 0%, 0.3);
  --hard-drop-shadow: 0 4px 20px hsla(0, 0%, 0%, 0.6);

  --glass-inset-glow: inset 0 0 10px var(--grey);

  --glass-blur: blur(30px);
  --layer-blur: blur(60px);

  /* Transitions */
  --basic-transition: 0.5s ease;
}
