@import url("./constants.css");
@import url("./utilities.css");

/* Font Loading */
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("../public/assets/fonts/OpenSans-Variable.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  background: #171717;
}

body {
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "OpenSans";
  color: white;
  overflow-x: clip;
}

main {
  display: flex;
  height: fit-content;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  gap: var(--huge);
  flex: 1;
}

.main-page {
  display: flex;
  padding: 0px var(--lg);
  gap: var(--huge);
  flex: 1;
}

button,
input,
textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: inherit;
  outline: inherit;
  background-color: transparent;
  resize: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--flg);
  line-height: 100%;
}

p {
  font-size: var(--fxs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Coolvetica";
  text-transform: uppercase;
  font-weight: 100;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  border-radius: var(--full-radius);
  box-shadow: var(--glass-inset-glow);
}

::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: var(--full-radius);

  background-clip: content-box;
  border: 5px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--steel);
}
