.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.systemBar {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;

  background-color: #3c3c3c;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.checkBoxRow {
  display: flex;
  flex-direction: row;
  gap: var(--sm);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
}
