.submitButton {
  display: flex;
  padding: 10px 14px;
  border-radius: var(--full-radius);
  /* background: #282828; */
  background: #a2fe9d;
  justify-content: center;
  align-items: center;
  position: relative;

  /* color: whitesmoke; */
  color: black;
  font-family: "OpenSans";
  font-weight: 600;
  font-size: var(--ftiny);

  transition: var(--basic-transition);
}

/* todo */
.submitButton:disabled {
  cursor: default;

  background: var(--primary-color-disabled);
}
