.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  padding: 10px;
  border-radius: var(--small-radius);
  border: 1px solid var(--primary-color);
}

.text {
  font-family: "OpenSans";
  display: flex;
  font-weight: 600;
  font-size: var(--fxs);
  color: white;
  text-align: center;
}

.title {
  font-family: "OpenSans";
  display: flex;
  font-size: var(--fmicro);
  color: var(--steel);
  text-wrap-mode: nowrap;
}
