.form {
  display: flex;
  flex-direction: row;
  padding: 10px var(--md);
  gap: var(--md);
  height: 100%;
  justify-content: center;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  flex: 0.33;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  flex: 0.33;
  gap: 10px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0.33;
}
