.basicCard {
  display: flex;
  background: #282828;
  position: relative;
  border-radius: var(--card-radius);
  border: 1px solid var(--stone);
  box-shadow: var(--basic-drop-shadow);
  overflow: hidden;
}
