.button {
  display: flex;
  padding: 10px 14px;
  border-radius: var(--full-radius);
  background: #282828;
  justify-content: center;
  align-items: center;
  position: relative;

  color: whitesmoke;
  font-family: "OpenSans";
  font-weight: 400;
  font-size: var(--ftiny);
}

.button:disabled {
  cursor: default;

  pointer-events: none;

  transition: var(--basic-transition);
}

.button:hover {
  background: var(--secondary-color-hover);
}

.button:active {
  background: var(--secondary-color-click);
}
