# ignore all files excpet .tex and .pdf files   
*.log   
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg       
*.glg
*.glo
*.gls
*.fls      
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.run.xml
*.bcf
*.blx.bib
*.pdfsync
*.dvi
*.ps
*.synctex
*.thm
*.upa
*.upb
*.log.*
*.aux.*
*.pdf.*
*.tex.backup
*.pdf.backup
*.tex~
*.pdf~
*.tex.bak
*.pdf.bak
*.swp
*.swo
*.out.*
*.lof.*
*.lot.*
*.toc.*
*.fls.*
*.bbl*
*.ist